<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">

  <!--link estilo CSS-->
  <link rel="stylesheet" href="assets/estilos/login.css">

  <!--google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Gochi+Hand&display=swap" rel="stylesheet">

   <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/estilos/bootstrap.css">

</head>
<body>
   <!-- Menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">   
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
          <li class="nav-item active">
            <a class="nav-link text-light" href="Index.html">Inicio </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-light" href="nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-light" href="registro.html">Registro  </a>
          </li>
        </ul>
      </div>
    </nav>
  <form>

    <div class="container" id="inicio">
    <center>
      <div class="logotipo">
          <img src="assets/imagen/castle.png"><h3 >Developers Castle</h3>
     </div>
    </center>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
 
  <center><button type="submit" class="btn btn-primary">Sign in</button>
    <br>
    
   <div class="registrar">
       <a class="a" href="registro.php">Check in</a>
  </div>
</center>
</div>
</form>

  <!-- Footer -->
    <footer class="" style="">
      <p class="text-center text-light" style="">Copyright © Todos los Derechos Reservados</p>
    </footer>
<!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.min.js" ></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/all.js"></script>
  
</body>
</html>