<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<!--hoja de estilo-->
	<link rel="stylesheet" href="assets/estilos/registro.css">
	<!--google fonts-->
  <link href="https://fonts.googleapis.com/css?family=Didact+Gothic|Gochi+Hand&display=swap" rel="stylesheet">
  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/estilos/bootstrap.css">

</head>
<body>
   <!-- Menu -->
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">   
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
          <li class="nav-item active">
            <a class="nav-link text-light" href="Index.html">Inicio </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-light" href="nosotros.html">Nosotros </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link text-light" href="login.html">Ingresar </a>
          </li>
        </ul>
      </div>
    </nav>
	<form>
	<div class="container" id="registro">
		<center>
      <div class="logotipo">
          <img src="assets/imagen/castle.png"><h3 >Developers Castle</h3>
     </div>
    </center>
  	<div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">User name</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="User name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Email</label>
      <input type="password" class="form-control" id="inputPassword4" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputAddress">Password</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="inputAddress2">Phone number</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Phone number">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">User type</label>
      <select id="inputState" class="form-control">
      	 <option selected>..Selected</option>
        <option selected>Invitado</option>
         <option selected>Cliente</option>
      </select>
    </div>
    
  </div>
  
  <center><button type="submit" class="btn btn-primary">Sign in</button></center>
</div>
</form>

  <!-- Footer -->
    <footer class="" style="">
      <p class="text-center text-light" style="">Copyright © Todos los Derechos Reservados</p>
    </footer>
<!-- JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery.min.js" ></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.js"></script>
    <script src="assets/js/all.js"></script>
	
</body>
</html>